@import './nullstyle.scss';
@import './tasks.scss';
@import './form.scss';

html, body {
	min-height: 100vh;
}
body {
	background-color: #E4E5E7;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.aside {
	height: 400px;
}
.main {
	height: 400px;
}
.d-flex {
	display: flex;
}
.gray {
	color: #BDBDBD;
}
.none {
	display: none !important;
}